<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLUJV1VbTJ3xJCNH4uAe44DJ0znDPFf0U</string>
	<key>GCM_SENDER_ID</key>
	<string>359209675456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.busTrackingDriver</string>
	<key>PROJECT_ID</key>
	<string>bus-tracking-app-5d78e</string>
	<key>STORAGE_BUCKET</key>
	<string>bus-tracking-app-5d78e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359209675456:ios:52688defa20f5dc1c89b25</string>
	<key>DATABASE_URL</key>
	<string>https://bus-tracking-app-5d78e-default-rtdb.firebaseio.com</string>
</dict>
</plist>